<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Lista kyselyistä</title>
  </head>
  <body>
    <a href="/lisaaKysely"> Lisää kysely</a>
    <div id="uniqueNamesList">
      <a
        th:each="kysymys : ${kysymykset}"
        th:href="@{/kysymykset/{id}(id=${kysymys.kysely.kyselyId})}"
        th:text="${kysymys.kysely.name}"
      ></a>
    </div>
    <script>
      // JavaScript code to make names unique (if not already done in the Java backend)
      var uniqueNames = new Set();
      var uniqueNamesList = document.getElementById("uniqueNamesList");

      var links = uniqueNamesList.querySelectorAll("a");
      links.forEach(function (link) {
        var kyselyName = link.textContent;

        if (!uniqueNames.has(kyselyName)) {
          uniqueNames.add(kyselyName);
        } else {
          // If the name is not unique, remove the duplicate link
          uniqueNamesList.removeChild(link);
        }
      });
    </script>
  </body>
</html>
