<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Lisää kysely</title>
  </head>
  <body>
    <h1>Lisää kysely</h1>
    <form
      th:action="@{saveKysely}"
      th:object="${kysely}"
      action="#"
      method="post"
    >
      <!--Tässä otetaan kyselyn nimi-->
      <label for="name">Kyselyn nimi:</label>
      <input type="text" id="name" th:field="*{name}" required />

      <button type="submit">Lisää kysely</button>
    </form>
  </body>
</html>
